@using DocumentSharing.Models;
@model List<Document>;

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-primary text-center">Danh sách tài liệu</h1>
<a href="" class="btn btn-primary">Thêm</a>
<div class="container my-5">
    <table class="table table-hover table-responsive">
        <thead class="thead-dark table-primary">
            <tr>
                <th>Mã tài liệu</th>
                <th>Tên tài liệu</th>
                <th>Loại tài liệu</th>
                <th>Môn học</th>
                <th>Người đăng</th>
                <th>Trạng thái</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.DocId</td>
                    <td>@item.DocName</td>
                    <td>@item.DocCategory</td>
                    <td>@item.SubjectId</td>
                    <td>@item.UserId</td>
                    <td>@item.DocStatus</td>
                    <td>@item.DocUrl</td>
                </tr>
            }
        </tbody>
    </table>
</div>
